# Сборка CMake
cmake-build-*/
build/
CMakeCache.txt
CMakeFiles/
Makefile

# Настройки IDE (CLion, VSCode и др.)
.idea/
.vscode/
*.user

# Объектные файлы и бинарники (чтобы не засорять репозиторий)
*.o
*.obj
*.a
*.dylib
*.so
*.dll
*.exe
*.out
*.app

# Исполняемые файлы (на случай, если сборка произойдет в корне)
cv
cv_tests

# Системные файлы macOS
.DS_Store