# Игнорировать папку сборки (она создается у каждого своя)
cmake-build-debug/
cmake-build-release/
build/

# Игнорировать настройки IDE (у каждого свои шрифты, пути и т.д.)
.idea/
.vscode/
*.swp
*.DS_Store

# Игнорировать скомпилированные файлы
*.o